.idea/
__pycache__/
*.egg-info/
logs/
None/
dist/
htmlcov/
.pytest_cache/
.coverage
.DS_Store
loco_mujoco/datasets/
mushroom_rl_recordings/
LocoMuJoCo_recordings/
record_all/
_build/
loco_mujoco/models/myo_model/
wandb/
ckpts/
outputs/
multirun/
home/
loco_mujoco/smpl/conf_paths.yaml
data/
*.vscode
loco_mujoco/LOCOMUJOCO_VARIABLES.yaml
**/video2images.sh
**/expert_traj.npz

getting_started/outputs
getting_started/LocoMuJoCo_recordings
getting_started/wandb
getting_started/__pycache__

prosthesis_test/outputs
prosthesis_test/LocoMuJoCo_recordings
prosthesis_test/wandb
prosthesis_test/__pycache__
prosthesis_test/evaluation_prosthesis.py


prosthesis_randomization/outputs
prosthesis_randomization/LocoMuJoCo_recordings
prosthesis_randomization/wandb
prosthesis_randomization/__pycache__
prosthesis_randomization/updated_eval_parallel.py

prosthesis_evaluation/
prosthesis_evaluation/eval_per_run.ipynb
prosthesis_evaluation/eval_prosthesis_all.ipynb
prosthesis_evaluation/eval_diff_runs_andPerturb.ipynb
prosthesis_evaluation/grf_computation_test/grf_plot.png
prosthesis_evaluation/grf_computation_test/grf_data_1000steps.npz
prosthesis_evaluation/all_trajs_walk_SkeletonMuscle.pkl
