table {
    table-layout: fixed;
    width: 100%;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    white-space: normal !important;
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    width: 225px;
}

.wy-side-nav-search, .wy-nav-top {
    background: #f0dac3ff;
}

.wy-nav-side {
  background: #242c3aff;
}

/*!*Color text *!*/
/*.wy-menu-vertical a {*/
/*    color: whitesmoke;*/
/*}*/

/*!*Extended color text*!*/
/*.wy-menu-vertical li.current a {*/
/*    color: #242c3aff;*/
/*}*/

.wy-menu-vertical a:hover {
    background-color: #4c4640ff;
}

.rst-versions {
    border-top: solid 10px #d0d0d0;
}

.rst-versions .rst-current-version {
    background-color: #e0e0e0;
}

a:hover {
    text-decoration: underline !important;
}

.wy-nav-content {
    max-width: 950px !important;
}

.h2 {
   margin-top: 200px; /* Adjust as needed */
   margin-bottom: 10px; /* Adjust as needed */
}